.toolbar {
  position: fixed;
  z-index: 2;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  font-family: 'Raleway', sans-serif;
}