<div class="container" [class.mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar" #toolbar>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1> Angular 6.1 Quick Start Guide </h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="true" [fixedTopGap]="mobileQuery.matches ? 56 : 64">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content [style.marginTop.px]="toolbar._elementRef.nativeElement.offsetHeight">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>