mat-progress-bar.mat-progress-bar.mat-primary {
  height: 3px;
}

.container {
  padding: 16px;
}

.login-card {
  max-width: 400px;
  margin: auto;
}

.login-header-image {
  background-image: url('../../../assets/images/girl.png');
  background-size: cover;
}

.mat-form-field {
  width: 100%;
}

.mat-icon {
  cursor: pointer;
}

.right {
  float: right;
}

.row {
  margin: 5px 0;
}

.padding-10-0 {
  padding: 10px 0;
}

.gender-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.gender-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}