<mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>
<div class="container">
  <mat-card class="login-card">
    <mat-card-header>
      <div mat-card-avatar class="login-header-image"></div>
      <mat-card-title>Hello visitor!</mat-card-title>
      <mat-card-subtitle>Signup here</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Enter your first name" autocomplete="off" required>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Enter your last name" autocomplete="off" required>
        </mat-form-field>
      </div>

      <!-- 
        Email input field with Regular Expression updated validation checking.
       -->
      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Enter your email" autocomplete="off" [formControl]="email" required>
          <mat-error *ngIf="!email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Enter your password" [type]="hidePass ? 'password' : 'text'" [formControl]="password" required>
          <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="password.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row" *ngIf="hidePass">
        <mat-form-field class="contact-input">
          <input matInput placeholder="Confirm your password" [type]="hidePass ? 'password' : 'text'" required>
        </mat-form-field>
      </div>

      <div class="row padding-10-0">
        <!-- <mat-form-field> -->
          <!-- <input matInput placeholder="Enter your password" [type]="hidePass ? 'password' : 'text'" style="display: none;"> -->
          <span> Gender: </span>
          <mat-radio-group class="gender-radio-group" [(ngModel)]="gender">
            <mat-radio-button class="gender-radio-button" *ngFor="let g of genderList" [value]="g">
              {{g}}
            </mat-radio-button>
          </mat-radio-group>
        <!-- </mat-form-field> -->
      </div>

      <div class="row">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose your dob" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="disableClick" (click)="disableClick = !disableClick" routerLink="../login">Have an account? Login</button>
      <button mat-raised-button color="primary" class="right" [disabled]="disableClick" (click)="disableClick = !disableClick">Sign up</button>
    </mat-card-actions>
  </mat-card>
</div>
