/* You can add global styles to this file, and also import other style files */

* {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background: #e0f2f1;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}