@import url('https://fonts.googleapis.com/css?family=Material+Icons|Raleway:400,400i,500,500i,600,600i,700,700i');
 
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-teal, 700, 200);
$accent:  mat-palette($mat-yellow, 900, 200);
$warn:    mat-palette($mat-red, 700);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);